.idea
*.png
*.mp4
*.csv
*.js
*.json
*.xml
*.xml.mak0
*.mako
*.pyc
*.h5
*.zip
*.jpg
.idea/
*.tar.gz
*.pkl
__pycache__/
rllab/
scripts/
vendor/
videos/
pydart2/
data/
good_videos/
AutoEncoder/
.DS_Store
